h1{
 text-align: center;
 margin : 100px 0 0 0 ;
}

.image{

height: 400px;	
width:  300px;
margin: 50px 50px 50px 150px;
}

p{
text-align: center;
color: MediumBlue;;
}

.left{
float:left; 
width:50%;
}

.right{
float:right; 
width:50%;
}
body{
	background-color:PaleTurquoise;
}